name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    full-test:
        container: cuaesd/aesd-autotest:24-assignment6
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Run full test
            run: echo "HI"
